<div>
    <h1>
        {{ post.title }}
    </h1>

    <div class="my-10">
        <img
                [src]="post.cover.url"
        />
    </div>

    @for (contentType of post.content; track contentType) {
        @if (contentType.__typename === "Assets" && contentType.items.length) {
            <img
                    [src]="contentType.items[0]?.url"
            />
        }
        @if (contentType.__typename === "Text") {
            <div [innerHTML]="contentType.body"></div>
        }
    }
</div>
